<ion-container>
  <ion-row class="ion-justify-content-center">
    <ion-col size="2">
      <app-logo [proportion]="'50'" />
    </ion-col>
    <ion-col size="12">
      <ion-title>
        Rede Usina academia
      </ion-title>
    </ion-col>
  </ion-row>
  <form class="form" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-input labelPlacement="floating" class="form-control" formControlName="email" id="email"
            label-placement="floating" fill="outline" name="password" placeholder="Enter email address"
            errorText="* Enter proper email address">
            <div slot="label">Email <ion-text color="danger"></ion-text></div>
          </ion-input>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input type="password" label="Senha" class="form-control" formControlName="password" id="password"
            placeholder="Enter password" label-placement="floating" fill="outline" name="password"
            [errorText]="form.get('password')!.hasError('minlength') ? '* Password must be min. 8 characters long' : '* Enter a proper password'">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="button-col" size="6">
          <ion-button class="button" (click)="login('email')" color="primary" mode="ios">Entrar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="divider"></div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-label>Ou entre com</ion-label>
          <ion-col class="button-col" size="12">
            <ion-button mode="ios" (click)="login('google')">
              <ion-icon name="logo-google"></ion-icon>
              Google
            </ion-button>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-container>
