ion-grid {
  .profile-header {
    gap: 2;
    margin-left: 1rem;

    ion-col:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .profile-title {
      ion-label:first-child {
        font-size: 1rem;

      }
      ion-label:nth-child(2) {
        font-size: 0.8rem;
        font-weight: 100;
        color: var(--ion-color-purple)
      }
    }
  }

  .badges {
    margin-top: 0.5rem;
    ion-col {
      ion-chip {
        --background: var(--ion-color-primary-tint);
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 1rem;

        .badge-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.2rem;
          font-size: 0.7rem;
          color: var(--ion-color-secondary);

          ion-badge {
            border: 1px solid var(--ion-color-secondary);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }

    .label-name {
      font-weight: 600;
      font-size: 1.5rem;
    }
    .label-level {
      font-weight: 200;
    }
  }
}

ion-avatar {
  width: 3.5rem;
  height: 3.5rem;
}
