<h1>Angular OnFire</h1>

<div *ngIf="!auth.user">
  <form>
    <fieldset>
      <legend>Login</legend>

      <div>Email</div>
      <input type="text" [(ngModel)]="email" />

      <div>Senha</div>
      <input type="password" [(ngModel)]="password" />

      <hr />

      <ion-row class="ion-justify-content-between">
        <ion-col>

          <button (click)="auth.emailSignin(this.email, this.password)">
            Login with e-mail
          </button>
        </ion-col>
        <ion-col>
          <button (click)="loginHandler('google')">Login with Google</button>

        </ion-col>
      </ion-row>

    </fieldset>
  </form>
</div>

<div *ngIf="auth.error" style="color: red">
  {{ auth.error }}
</div>

<div *ngIf="auth.user">
  Logged as <b>{{ auth.user.email }}</b>
  <button (click)="auth.signOut()">Sair</button>
</div>
